page-home {
	.empty {
	  display:grid;
	  height:90%;
	  .empty-content{
			text-align: center;
			margin: auto;
			.empty-icon{
				font-size: 15em;
				color: #eaeaea;
			}
			p.empty-text{
				color: gray;
			}
		}
	}
}
